# KiCad backups & autosave
kicad/*-backups/
*-bak
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*
fp-info-cache

# OS junk
.DS_Store
drc.json
erc.rpt
*.lck

# KiCad plot outputs and local history
*.gbr
*.gbrjob
*.drl
kicad/i2s-amp-shim-*.dxf
kicad/.history/
__pycache__/
